 <!DOCTYPE html>
<html>
    <head>
        <title>About GDELT Interactive</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-3.0.0.min.css" />
        <style type="text/css">
            #summary_statistics: {
                height: 500px;
                width: 850px;
            }

            #info text {
                font-size: 20px;
            }

            #labels text {
              font-size: 11px;
              pointer-events: none;
            }

            #labels text.parent {
              fill: #1f77b4;
            }

            #labels text.code_level_0 {
                display: none;
            }

            circle {
              fill: #ccc;
              stroke: #999;
              pointer-events: all;
            }

            circle.parent {
              fill: #1f77b4;
              fill-opacity: .1;
              stroke: steelblue;
            }

            circle.parent:hover {
              stroke: #ff7f0e;
              stroke-width: .5px;
            }

            circle.child {
              pointer-events: none;
            }
            circle.code_level_0 {
                display: none;
            }
        </style>
    </head>
    <body>
        <div class = 'row'>
            <div class = 'col-md-12'>
                <h1>GDELT Interactive <small>A new way of visualizing the world's news</small></h1>
                <p>The Global Database of Events, Language, and Tone is a research project that scours the Internet for English language news articles, categorizing each distinct event it finds according to the <em>actors</em> involved, the <em>actions</em> they took and <em>where</em> they took then. The end result is a massive quantity of data, with 160,000 to 180,000 unique events being encoded on a daily basis and each event often being references by multiple news sources and mentioned in multiple articles.</p>
                <svg id = 'summary_statistics'></svg>
                <!-- <p>Sometimes a picture is worth 180,000 words.</p> -->
                <p>The magnitude of these numbers is truly astounding and ought to give pause to any person who desires to stay abreast of global news. While the database itself was started as an academic research project, it holds within itself the potential for a new way of looking at global news.</p>
                <p>This application unlocks that potential. We start with the global picture, giving a graphical answer to the question "what happened around the world recently?" Then we put the tools in your hands to refine that question and explore the worlds news interactively. Want to see where every protest in the past week occurred? We can do that. Every public statement by a national government? We can do that too, but the answer will likely crash your browser. How about every public statement made by China? Or Russia? Or Liechtenstein? The possibilities are not endless, but they are rather large.</p>
                <h2>Limitations</h2>
                <p>There are limitations to these data. The first is that only events that have been recorded in English find their way into the GDELT database. This means that events in former colonial Britain are somewhat over represented. The GDELT project is young, however, and the creators must start somewhere. They have chosen to start with English. As that project and this one evolve, they coverage will only get better.</p>
                <p>A second limitation is the size of the raw data we are dealing with. Of course this is a strength as well: no other publicly available data set exists with the scope and detail of the GDELT data. But the massive number of observations we are dealing with means that the creators of the data must rely on computers to aid with their classification. No team of humans can cheaply categorize 180,000 events on a daily basis, even if a human can more reliably categorize a single event than a computer. Computers are getting better at this task, however, and you may be surprised, if you follow the links back to the sources themselves, how accurately the GDELT algorithms capture the essentials of the event.</p>
                <p>A third limitation comes from the fact that the data was not originally intended to be used in its raw form as an Internet age news wire. In categorizing each event and releasing the information in aggregate as the creators of GDELT have done, they have had to sacrifice some information that would be useful from a news perspective. In particular, for reasons of copyright, they cannot release the full text of each article they use. They do include a link back to a single source for each event and we will always pass on this information so you can check the accuracy of what you are finding. We are also actively working on ways of legally making more of the information contained in each article more easily accessible.</p>
                <p>A brief reflection on the problem of relying solely on one source if data, as we do, can be found <a href="http://dartthrowingchimp.wordpress.com/2013/05/16/challenges-in-measuring-violent-conflict-syria-edition/">here</a>.</p>
            </div>
        </div>
    </body>
    <script type="text/javascript" src = 'javascripts/lib/jquery-2.0.3.min.js'></script>
    <script type="text/javascript" src = 'javascripts/lib/bootstrap-3.0.0.min.js'></script>
    <script type="text/javascript" src = 'javascripts/lib/d3.v3.min.js'></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var svg = d3.select('#summary_statistics');
            var svgPack = svg.append('svg:g')
                .attr('id', 'pack');
            var svgLabels = svg.append('svg:g')
                .attr('id', 'labels');
            var svgInfo = svg.append('svg:g')
                .attr('id', 'info');
            var r = 500,
                x = d3.scale.linear().range([0, r]),
                y = d3.scale.linear().range([0, r]),
                node,
                root;
            var pack = d3.layout.pack()
                .size([r, r])
                .value(function(d) { return d.count; });

            var setInfo = function(d) {
                svgInfo.datum(d);
                var text = svgInfo.selectAll('text');
                text.remove();
                svgInfo.append('svg:text')
                    .attr('x', 500)
                    .attr('y', 20)
                    .attr('text-anchor', 'middle')
                    .attr('font-family', "sans-serif")
                    .attr('font-size', "55px")
                    .text('Event type: ' + d.description);
                svgInfo.append('svg:text')
                    .attr('x', 500)
                    .attr('y', 45)
                    .attr('text-anchor', 'middle')
                    .attr('font-family', "sans-serif")
                    .attr('font-size', "55px")
                    .text('Count: ' + d.count)
            }

            var draw = function(d) {
                node = root = d;
                var nodes = pack.nodes(root);
                
                setInfo(d);

                svgPack.selectAll('circle')
                    .data(nodes)
                    .enter().append('svg:circle')
                    .attr('class', function(d) {
                        var cls1 = d.children ? "parent": "child";
                        var codelevel = d.code.length - 1;
                        return cls1 + ' code_level_' + codelevel + ' ' + d.code;
                    })
                    .attr('cx', function(d) { return d.x; })
                    .attr('cy', function(d) { return d.y; })
                    .attr('r', function(d) { return d.r; })
                    .on("click", function(d) { return zoom(node == d ? root : d); });
                svgLabels.selectAll("text")
                    .data(nodes)
                    .enter().append("svg:text")
                    .attr("class", function(d) {
                        var cls1 = d.children ? "parent": "child";
                        var codelevel = d.code.length - 1;
                        return cls1 + ' code_level_' + codelevel;
                    })
                    .attr('x', function(d) { return d.x; })
                    .attr('y', function(d) { return d.y; })
                    .attr('dy', '.35em')
                    .attr('text-anchor', 'middle')
                    .style("opacity", function(d) {
                        return d.r > 20 ? 1: 0;
                    })
                    .text('')
                    .append('tspan').text(function(d) { return d.description; })
                    // .append('tspan').text(function(d) { return d.count; })
                    // .attr('x', function(d) { return d.x; });
                    // .attr('dy', 15);
                svg.selectAll('.code_level_2, .code_level_3')
                    .classed('hidden', true)
                d3.select(window).on("click", function() { zoom(root); });
            }

            d3.json('/api/statistics', draw);



            function zoom(d, i) {
                setInfo(d);
                var codeLevel = d.code.length - 1;
                var k = r / d.r / 2;
                x.domain([d.x - d.r, d.x + d.r]);
                y.domain([d.y - d.r, d.y + d.r]);
                var tPack = svgPack.transition()
                    .duration(d3.event.altKey ? 7500 : 750);
                var tLabels = svgLabels.transition()
                    .duration(d3.event.altKey ? 7500 : 750);
                tPack.selectAll("circle")
                    .attr("cx", function(d) { return x(d.x); })
                    .attr("cy", function(d) { return y(d.y); })
                    .attr("r", function(d) { return k * d.r; });
                tLabels.selectAll("text")
                    .attr("x", function(d) { return x(d.x); })
                    .attr("y", function(d) { return y(d.y); })
                    .style("opacity", function(d) { return k * d.r > 20 ? 1 : 0; });
                for (var j = 1; j < 4; j++) {
                    if (j < codeLevel + 1) {
                        svgPack.selectAll('.code_level_' + j)
                            .classed('hidden', false);
                        svgLabels.selectAll('.code_level_' + j)
                            .classed('hidden', true);
                    } else if (j == codeLevel + 1) {
                        svg.selectAll('.code_level_' + j)
                            .classed('hidden', false);
                    } else {
                        svg.selectAll('.code_level_' + j)
                            .classed('hidden', true);
                    }
                }
                node = d;
                d3.event.stopPropagation();
            }
        });


    </script>
</html>