<!DOCTYPE html>
<html>
  <head>
    <title>GDELT Interactive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-3.0.0.min.css" />
    <style type="text/css">
      .subunit {
        fill: #ddc;
      }

    </style>
  </head>
  <body>
    <h1>GDELT Interactive</h1>
    <div class = 'row'>
      <div class = 'col-md-8'>
        <svg id = 'svg' height = "500" width = "850"></svg>
      </div>
      <div id = 'interactive_control' class = 'col-md-4'
>        <ul class = 'nav nav-pills nav-justified'>
          <li class = 'active'><a href="#view" data-toggle = 'pill'>View</a></li>
          <li><a href="#event" data-toggle = 'pill'>Event</a></li>
          <li><a href="#actors" data-toggle = 'pill'>Actors</a></li>
          <li><a class = 'btn btn-primary' href="#"><span class = 'glyphicon glyphicon-globe'></span> Reload</a></li>
        </ul>
        <div class='tab-content'>
          <div class = 'tab-pane active' id='view'></div>
          <div class = 'tab-pane' id='event'>
          </div>
          <div class = 'tab-pane' id='actors'></div>
        </div>

      </div><!-- #interactive-control .col-md-4-->
    </div><!-- .row -->
  </body>
  <!-- <script type="text/javascript" src = '/javascripts/jquery-2.0.3.min.js'></script>
  <script type="text/javascript" src = '/javascripts/bootstrap-3.0.0.min.js'></script>
  <script type="text/javascript" src = '/javascripts/underscore-min.js'></script>
  <script type="text/javascript" src = '/javascripts/backbone-min.js'></script>
  <script type="text/javascript" src = '/javascripts/d3.v3.min.js'></script>
  <script type="text/javascript" src = '/javascripts/topojson.v1.min.js'></script>-->
  <script type="text/javascript" src = '/javascripts/require-2.1.8.min.js' data-main = '/javascripts/main.js'></script>
</html>