<!DOCTYPE html>
<html>
  <head>
    <title>GDELT Interactive</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
      .subunit {
        fill: #ddc;
      }

    </style>
  </head>
  <body>
    <h1>GDELT Interactive</h1>
    <svg id = 'svg' height = "500" width = "850"></svg>
    <div id = 'interactive_control'>
      <button>Projection</button><button>Data</button>
    </div>
  </body>
  <script type="text/javascript" src = '/javascripts/jquery-2.0.3.min.js'></script>
  <script type="text/javascript" src = '/javascripts/underscore-min.js'></script>
  <script type="text/javascript" src = '/javascripts/backbone-min.js'></script>
  <script type="text/javascript" src = '/javascripts/d3.v3.min.js'></script>
  <script type="text/javascript" src = '/javascripts/topojson.v1.min.js'></script>
  <script type="text/javascript">
    D3 = Backbone.Model.extend({
      initialize: function() {
        var _this = this;
        this.get_projection();
        this.get_subunits();
        this.get_data(1000, function() {
          _this.draw();
        });
      },

      defaults: {
        area: 'world',
        projection_type: 'conicEquidistant',
        projection: null,
        type: 'default',
        scale: 115,
        width: 850,
        height: 500,
        subunits: null,
        subunits_changed: true,
        data: null,
        data_changed: true
      },

      query: function() {
        console.log('D3 query called.');
      },

      get_projection: function(scale, tx, ty) {
        scale = typeof scale !== 'undefined' ? scale : this.get('scale');
        tx = typeof tx !== 'undefined' ? scale : this.get('width')/2;
        ty = typeof ty !== 'undefined' ? scale : this.get('height')/2;
        this.set('projection', d3.geo[this.get('projection_type')]().scale(scale).translate([tx, ty]));
      },

      get_subunits: function() {
        var _this = this;
        $.get('api/subunits', function(data) {
          _this.set('subunits', data);
          _this.set('subunits_changed', true);
          if (typeof callback !== 'undefined') {
            callback();
          }
        });
      },

      get_data: function(limit, callback) {
        limit = typeof num !== 'undefined' ? limit : 1000;
        var _this = this;
        $.get('api/data/' + limit, function(data) {
          _this.set('data', data);
          _this.set('data_changed', true);
          if (typeof callback !== 'undefined') {
            callback();
          }
        })
      },

      draw: function() {

        d3.selectAll('circle').data([]).exit().remove();

        var projection = this.get('projection');

        var path = d3.geo.path()
                     .projection(projection);

        var svg = d3.select('svg');

        if (this.get('subunits_changed')) {
          svg.append("path")
              .datum(this.get('subunits'))
              .attr("d", path);

          svg.selectAll(".subunit")
              .data(this.get('subunits').features)
              .enter().append("path")
              .attr("class", 'subunit')
              .attr("d", path);

          this.set('subunits_changed', false);
        }

        if (this.get('data_changed')) {
          var circles = svg.selectAll("circle").data(this.get('data')).enter().append("circle");

          circles.attr('r', 2)
                  .attr('class', 'circle')
                  .attr('transform', function(d) {
                      return "translate(" + projection([d.actiongeo_long, d.actiongeo_lat]) + ")";
                  });
          this.set('data_changed', false);
        }
      }
    });

    $(document).ready( function() {
      drawing = new D3();
    });
  </script>
</html>