<form class = 'form-inline' role = 'form'>
  <div class = 'form-group'>
    <label for='<%= actor %>countrycode'>Country</label>
    <select class="form-control" id = '<%= actor %>countrycode'>
      <option value = 'none'>---</option>
      <% for (var i = 0; i < actor_codes.country.length; i++) { var tuple = actor_codes.country[i]%>
        <option value="<%= tuple[0] %>"><%= tuple[1] %></option>
      <% } %>
    </select>
  </div>
  <div class = 'form-group'>
    <label for='<%= actor %>knowngroupcode'>Group</label>
    <select class="form-control" id = '<%= actor %>knowngroupcode'>
      <option value = 'none'>---</option>
      <% for (var i = 0; i < actor_codes.knowngroup.length; i++) { var tuple = actor_codes.knowngroup[i]%>
        <option value="<%= tuple[0] %>"><%= tuple[1] %></option>
      <% } %>
    </select>
  </div>
</form>
<form class = 'form-inline' role = 'form'>
  <div class = 'form-group'>
    <label for='<%= actor %>ethnicitycode'>Ethnicity</label>
    <select class="form-control" id = '<%= actor %>ethnicitycode'>
      <option value = 'none'>---</option>
      <% for (var i = 0; i < actor_codes.ethnic.length; i++) { var tuple = actor_codes.ethnic[i]%>
        <option value="<%= tuple[0] %>"><%= tuple[1] %></option>
      <% } %>
    </select>
  </div>
  <div class = 'form-group'>
    <label for='<%= actor %>religioncode'>Religion</label>
    <select class="form-control" id = '<%= actor %>religioncode'>
      <option value = 'none'>---</option>
      <% for (var i = 0; i < actor_codes.religion.length; i++) { var tuple = actor_codes.religion[i]%>
        <option value="<%= tuple[0] %>"><%= tuple[1] %></option>
      <% } %>
    </select>
  </div>
</form>
<form class = 'form-inline' role = 'form'>
  <div class = 'form-group'>
    <label for='<%= actor %>type1code'>First type</label>
    <select class="form-control" id = '<%= actor %>type1code'>
      <option value = 'none'>---</option>
      <%= type_options %>
    </select>
  </div>
  <div class = 'form-group'>
    <label for='<%= actor %>type2code'>Second type</label>
    <select class="form-control" id = '<%= actor %>type1code'>
      <option value = 'none'>---</option>
      <%= type_options %>
    </select>
  </div>
  <div class = 'form-group'>
    <label for='<%= actor %>type3code'>Third type</label>
    <select class="form-control" id = '<%= actor %>type3code'>
      <option value = 'none'>---</option>
      <%= type_options %>
    </select>
  </div>
</form>