<form class = 'form-horizontal' role='form'>
  <div class="form-group">
    <label for="eventrootcode" class="col-md-2 control-label">Event type</label>
    <div class="col-md-10">
      <select class="form-control" id = "eventrootcode">
        <option value = 'none'>All</option>
        <option value = '01'<% if (eventrootcode === '01') {%> selected='selected'<% } %>>Make public statement</option>
        <option value = '02'<% if (eventrootcode === '02') {%> selected='selected'<% } %>>Appeal</option>
        <option value = '03'<% if (eventrootcode === '03') {%> selected='selected'<% } %>>Express intent to cooperate</option>
        <option value = '04'<% if (eventrootcode === '04') {%> selected='selected'<% } %>>Consult</option>
        <option value = '05'<% if (eventrootcode === '05') {%> selected='selected'<% } %>>Engage in diplomatic cooperation</option>
        <option value = '06'<% if (eventrootcode === '06') {%> selected='selected'<% } %>>Engage in material cooperation</option>
        <option value = '07'<% if (eventrootcode === '07') {%> selected='selected'<% } %>>Provide aid</option>
        <option value = '08'<% if (eventrootcode === '08') {%> selected='selected'<% } %>>Yield</option>
        <option value = '09'<% if (eventrootcode === '09') {%> selected='selected'<% } %>>Investigate</option>
        <option value = '10'<% if (eventrootcode === '10') {%> selected='selected'<% } %>>Demand</option>
        <option value = '11'<% if (eventrootcode === '11') {%> selected='selected'<% } %>>Disapprove</option>
        <option value = '12'<% if (eventrootcode === '12') {%> selected='selected'<% } %>>Reject</option>
        <option value = '13'<% if (eventrootcode === '13') {%> selected='selected'<% } %>>Threaten</option>
        <option value = '14'<% if (eventrootcode === '14') {%> selected='selected'<% } %>>Protest</option>
        <option value = '15'<% if (eventrootcode === '15') {%> selected='selected'<% } %>>Exhibit military posture</option>
        <option value = '16'<% if (eventrootcode === '16') {%> selected='selected'<% } %>>Reduce relations</option>
        <option value = '17'<% if (eventrootcode === '17') {%> selected='selected'<% } %>>Coerce</option>
        <option value = '18'<% if (eventrootcode === '18') {%> selected='selected'<% } %>>Assault</option>
        <option value = '19'<% if (eventrootcode === '19') {%> selected='selected'<% } %>>Fight</option>
        <option value = '20'<% if (eventrootcode === '20') {%> selected='selected'<% } %>>Engage in unconventional mass violence</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="eventbasecode"  class="col-md-2 control-label eventbasecode hidden">Event base type</label>
    <div class="col-md-10 eventbasecode hidden">
      <select class="form-control" id = "eventbasecode">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="eventcode"  class="col-md-2 control-label eventcode hidden">Refined event type</label>
    <div class="col-md-10 eventcode hidden">
      <select class="form-control" id = "eventcode">
      </select>
    </div>
  </div>
</form>