<form class = 'form-horizontal' role='form'>
  <div class="form-group">
    <label for="eventrootcode" class="col-md-2 control-label">Event type</label>
    <div class="col-md-10">
      <select class="form-control" id = "eventrootcode">
        <option value = '00'>All</option>
        <option value = '01'>Make public statement</option>
        <option value = '02'>Appeal</option>
        <option value = '03'>Express intent to cooperate</option>
        <option value = '04'>Consult</option>
        <option value = '05'>Engage in diplomatic cooperation</option>
        <option value = '06'>Engage in material cooperation</option>
        <option value = '07'>Provide aid</option>
        <option value = '08'>Yield</option>
        <option value = '09'>Investigate</option>
        <option value = '10'>Demand</option>
        <option value = '11'>Disapprove</option>
        <option value = '12'>Reject</option>
        <option value = '13'>Threaten</option>
        <option value = '14'>Protest</option>
        <option value = '15'>Exhibit military posture</option>
        <option value = '16'>Reduce relations</option>
        <option value = '17'>Coerce</option>
        <option value = '18'>Assault</option>
        <option value = '19'>Fight</option>
        <option value = '20'>Engage in unconventional mass violence</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="eventbasecode"  class="col-md-2 control-label eventbasecode hidden">Event base type</label>
    <div class="col-md-10 eventbasecode hidden">
      <select class="form-control" id = "eventbasecode">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="eventcode"  class="col-md-2 control-label eventcode hidden">Refined event type</label>
    <div class="col-md-10 eventcode hidden">
      <select class="form-control" id = "eventcode">
      </select>
    </div>
  </div>
</form>