<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="focus" class="col-md-2 control-label">Focus</label>
    <div class="col-md-10">
      <select class="form-control">
        <option value = 'world' selected="selected">World</option>
        <option value = 'africa'>Africa</option>
        <option value = 'anarctica'>Anarctica</option>
        <option value = 'asia'>Asia</option>
        <option value = 'europe'>Europe</option>
        <option value = 'north_am'>North America</option>
        <option value = 'south_am'>South America</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="map_type" class="col-md-2 control-label">Map type</label>
    <div class="col-md-10">
      <select class="form-control" id = 'map_type'>
        <option value = "xyplot">Scatter plot</option>
      </select>
    </div>
  </div>
</form>